
<!-- Edit & Delete menggunakan a -->
<a class="badge bg-warning" type="submit" href="{{ url('/'.$mhs->nim) }}">Edit</a>
<a onclick="return confirm('Yakin akan menghapus data ini?')" class="badge bg-danger" type="submit" href="{{ url('delete/'.$mhs->nim) }}">Delete</a>


<!-- Edit & Delete menggunakan form -->
<form class="d-inline" action="{{ url('/'.$mhs->nim) }}">
    <button class="badge bg-warning" type="submit">Edit</button>
</form>
<form onsubmit="return confirm('Yakin akan menghapus data ini?')" class="d-inline" action="{{ url('delete/'.$mhs->nim) }}" method="get">
    <button class="badge bg-danger" type="submit" name="submit">Delete</button>
</form>

<!-- Select -->
<select class="form-select" class="form-control" id="matkul_id" name="matkul_id">
    <option selected>Pilih Mata Kuliah</option>
    <option value="1">Pemrograman Perangkat Bergerak</option>
    <option value="2">Algoritma dan Pemrograman</option>
    <option value="3">Arsitektur Komputer</option>
    <option value="4">Rekayasa Pengairan atau Hidrologi</option>
    <option value="5">Aljabar Linear</option>
    <option value="6">Prinsip Rekayasa dan Ilmu Kealamiahan Dasar</option>
    <option value="7">Sosio Informatika dan Profesionalisme</option>
</select>

@foreach ($data->matkul as $item)
<option value="{{ $item->id }}">{{ $item->matkul }}</option>
@endforeach

<!-- DATA -->
1.	101010307	Sofyan L., S.Kom., M.Kom.	Informatika	Sosio Informatika dan Profesionalisme
2.	101010306	Ir. Supriyanto, M.T.	Teknik Mesin	Prinsip Rekayasa dan Ilmu Kealamiahan Dasar
3.	101010305	Agustin Setyorini, S.Kom., M.Kom.	Teknik Mesin	Aljabar Linear
4.	101010304	Herlina Susilowati, S.T., M.T.	Teknik Sipil	Rekayasa Pengairan atau Hidrologi
5.	101010303	Sofyan Lukman, S.Kom., M.Kom	Teknik Sipil	Arsitektur Komputer
6.	101010302	Jemmy Edwin B., S.Kom., M.Eng.	Informatika	Algoritma dan Pemrograman
7.	101010301	Ryan Setyawan S.Kom., M.Eng.	Informatika	Pemrograman Perangkat Bergerak

<!-- Gunakan ini -->
<!-- Gunakan ini -->
